* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: smooth-scrolling;
}
header {
  background-color: #373b69;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
form {
  display: flex;
  justify-content: end;
}
input[type="search"] {
  border-block: none;

  border-radius: 5.5rem;
  background-color: #373b69;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.8rem;
  margin: 0.5rem;
}
input:focus {
  outline: none;
  background-color: #3a3c4e;
}
.container {
  max-width: 1290px;
  margin: 0 auto;
}
main {
  overflow: hidden;
}
.card {
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: #373b69;
  border-radius: 0.3rem;
  box-shadow: 0.2px 4px 5px 0 rgba(0, 0, 0, 0.1);
  transition: all 1s ease-in;
}
.card-body {
  color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  display: flex;
}
.card img {
  border-radius: 0.4rem 0.4rem 0 0;
  max-width: 100%;
  height: auto;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 20px 8px;
}
.overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  padding: 1rem;
  max-height: 100%;
  transform: translateY(110%);
  transition: all 0.3s ease-in;
  overflow: auto;
}
.card:hover .overview {
  opacity: 1;
  transform: translateY(0%);
}
.d-none {
  display: none;
}
.release {
  background-color: #fff;
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem 0;
}
.btn {
  background-color: #373b69;
  color: #fff;
  padding: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
button {
  align-self: center;
  padding: 1rem;
  animation-name: wet;
}
button:hover {
}
iframe {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@media (max-width: 414px) {
  header {
    background-color: #6b6f9baf;
    margin-bottom: 0;
  }
  form {
    justify-content: center;
  }
  input[type="search"] {
    width: auto;
  }
  main {
    padding: 0 1rem;
    background-color: #373b69;
  }
}
